@import url(http://fonts.googleapis.com/css?family=Righteous);

.btn-primary {
  margin-top: 18px;
}

.btn-success {
  margin-top: 25px;
  position: inline-block;  
}

.main-container {
  padding-top: 50px;
}


li.dice {
  display: inline-block;
}

.dice_size {
  width: 100px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.dummy {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

input[type="radio"] {
  margin-right: 0.5em;
}

.navbar-brand {
  font-family: 'Righteous', cursive;
  font-size: 2em;
}

.rahtzee {
  font-family: 'Righteous', cursive;
  font-size: 4em;
}

.rahtzee-jumbo {
  font-family: 'Righteous', cursive;
  font-size: 10em;
}

.spacer {
  height: 5em;
}

.login-spacer {
  height: 0.3em;
}

.title_centre {
  text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 0px) and (max-width: 992px) {
  .btn-success {
    margin-top: 0px;
    position: block;
    top: 50px;
    left: 225px; 
  }

  .rahtzee-row {
    height: 0;
    visibility: hidden;
  }

  .dice_size {
  width: 75px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }

.dummy {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  }

@media (min-width: 0px) and (max-width: 480px) {

  .dice_size {
  width: 60px;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 0px;
  }

.dummy {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 0px;
  z-index: 1;
  }

}

}  
